body {
    background-image: url("../images/wallpaper.png");
}

h2 {
    font-family: Verdana;
    font-size: 35px;
    color: white;
    text-align: center;
}

label {
    font-family: Tahoma;
    color: white;
    text-align: center;
    font-size: 25px;
    position: relative;
    left: 550px;
}

p {
    font-family: Tahoma;
    color: white;
    font-size: 25px;
}

input {
    font-family: Tahoma;
    font-size: 25px;
    position: relative;
    left: 550px;
}

#upload_image {
    color: white;
}

#back_button {
    left: 0px;
}

#add_contact_button {
    left: 675px;
}