body {
    background-image: url("../images/wallpaper.png");
}

h2 {
    font-family: Verdana;
    font-size: 35px;
    color: white;
    text-align: center;
}

label {
    font-family: Tahoma;
    color: white;
    text-align: center;
    font-size: 25px;
    position: relative;
    left: 500px;
}

input {
    font-family: Tahoma;
    font-size: 25px;
    position: relative;
    left: 500px;
}

p {
    font-family: Tahoma;
    color: white;
    font-size: 25px;
    position: relative;
    left: 600px;
}

h3 {
    font-family: Verdana;
    color: white;
    font-size: 30px;
    text-align: center;
}

#delete_button {
    left: 660px;
}

#button {
    left: 700px;
}

#yes_or_no {
    left: 720px;
}

#back {
    left: 0px;
}

a {
    font-family: Tahoma;
    font-size: 20px;
    color: white;
    position: relative;
    left: 1400px;
}