body {
    background-image: url("../images/wallpaper.png");
}

h2 {
    font-family: Verdana;
    font-size: 50;
    color: white;
}

a {
    color: white;
    font-family: Tahoma;
}

#edit_account {
    position: relative;
    top: -40px;
    left: 1392px;
}

#logout {
    position: relative;
    top: -20px;
    left: 1300px;
}

p {
    color: white;
    font-family: Tahoma;
}

label {
    color: white;
    font-family: Tahoma;
}

input {
    font-family: Tahoma;
}