body {
    background-image: url("../images/wallpaper.png");
}

h2 {
    font-family: Verdana;
    font-size: 35px;
    color: white;
    text-align: center;
}

label {
    font-family: Tahoma;
    font-size: 25px;
    color: white;
    text-align: center;
    position: relative;
    left: 550px;
}

input {
    font-family: Tahoma;
    font-size: 25px;
    position: relative;
    left: 550px;
}

#new_profile_photo {
    color: white;
}

p {
    color: white;
    font-family: Tahoma;
    font-size: 25px;
    position: relative;
    left: 625px;
}

img {
    height: 200px;
    width: 200px;
    position: relative;
    left: 600px;
    font-family: Tahoma;
    font-size: 25px;
    color: white;
}

#back_button {
    position: relative;
    left: 0px;
}

#update_contact {
    position: relative;
    left: 625px;
}