body {
    background-image: url("../images/wallpaper.png");
}

img {
    height: 100px;
    width: 100px;
}

h2 {
    font-family: Verdana;
    font-size: 50;
    color: white;
    text-align: center;
}

p {
    font-family: Tahoma;
    color: white;
}

input {
    font-family: Tahoma;
}