<!DOCTYPE html>
<html>
    <head>
        <title>Create Account</title>
        <link rel = "icon" href = "{{url_for('return_profile_picture', filename = 'phonebook_icon.png')}}">
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'styles/create_account_style.css')}}">
    </head>

    <body>
        <form action = "{{url_for('login_screen')}}" action = "get">
            <input id = "back" type = "Submit" value = "Back">
        </form>

        <h2>Welcome, new user! Please enter your username and password for your account.</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action = "{{url_for('create_user_account')}}" method = "post" enctype = "multipart/form-data">
            <label>Username</label>
            <input type = "text" name = "username" required>
            <br>

            <label>First Name</label>
            <input type = "text" name = "first_name" required>
            <br>

            <label>Last Name</label>
            <input type = "text" name = "last_name" required>
            <br>

            <label>Password</label>
            <input type = "password" name = "password" required>
            <br>

            <label>Confirm Password</label>
            <input type = "password" name = "confirm_password" required>
            <br>

            <input id = "create" type = "submit" value = "Create Account">
        </form>
    </body>
</html>