<!DOCTYPE html>
<html>
    <head>
        <title>Delete a Contact</title>
    </head>

    <body>
        <h2>Delete a Contact from your Phone Book.</h2>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action = "{{url_for('main_page')}}" method = "get">
            <input type = "Submit" value = "Back">
        </form>

        <form action = "{{url_for('remove_contact')}}" method = "post" enctype = "multipart/form-data">
            <label>First Name</label>
            <input type = "text" name = "first_name">
            <br>

            <label>Last Name</label>
            <input type = "text" name = "last_name">
            <br>

            <label>Phone Number</label>
            <input type = "text" name = "phone_number">
            <br>

            <input type = "Submit" value = "Delete Contact">
        </form>
    </body>
</html>