<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h2>Welcome to the PhoneBook! Please login or create an account.</h2>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action = "{{url_for('check_credentials')}}" method = "post" enctype = "multipart/form-data">
            <label>Username</label>
            <input type = "text" name = "username" required>
            <br>
            <label>Password</label>
            <input type = "password" name = "password" required>
            <br>
            <input type = "submit" value = "Login">
        </form>

        <a href = "{{url_for('create_account_page')}}">Create Account</a>
    </body>
</html>