<!DOCTYPE html>
<html>
    <head>
        <title>Contacts Overview</title>
        <link rel = "icon" href = "{{url_for('static', filename = 'images/phonebook_image.png')}}">
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'styles/main_page_style.css')}}">
    </head>

    <body>
        <h2>Welcome, {{first_name}} {{last_name}}!</h2>
        <a id = "edit_account" href = "{{url_for('change_account', previous_page = previous_page)}}">Edit Account</a>
        <br>
        <a id = "logout" href = "{{url_for('logout')}}">Logout</a>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <p>What would you like to do?</p>
        <form action = "{{url_for('operation')}}" method = "post" enctype = "multipart/form-data">
            <input type = "radio" id = "option1" name = "selection" value = "create" required>
            <label>Create a Contact</label>
            <br>

            <input type = "radio" id = "option2" name = "selection" value = "view" required>
            <label>View Contacts</label>
            <br>

            <input id = "go_button" type = "submit" value = "Go">
        </form>
    </body>
</html>